<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!--we cant have more than 1 structural directive (ngIf, ngFor) in 1 html element-->
        <div *ngIf="onlyOdd">
          <!--attribute directive ngClass: assign CSS class 'odd' if currentOddNumber is odd-->
          <!--attribute directive ngStyle: assign CSS property, in this case background-color. But write the property as camelCase-->
          <li
            class="list-group-item" 
            *ngFor="let currentOddNumber of oddNumbers"
            [ngClass]="{odd: currentOddNumber % 2 !==0}"
            [ngStyle]="{backgroundColor: currentOddNumber % 2 !==0 ? 'yellow' : 'transparent'}"
            >{{currentOddNumber}}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let currentEvenNumber of evenNumbers"
            [ngClass]="{odd: currentEvenNumber % 2 !==0}"
            [ngStyle]="{backgroundColor: currentEvenNumber % 2 !==0 ? 'yellow' : 'transparent'}"
            >{{currentEvenNumber}}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style me with basic highlight directive</p>
    </div>
  </div>
</div>
